@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<div class="header">Add a flavor to this product</div>

<div class="subHeader">Add a flavor-type to this treat: @Html.DisplayFor(model => model.Name)</div>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @if(!(ViewBag.FlavorId as SelectList).Any())
  {
    <p>Add a flavor to the @Html.ActionLink("flavor list", "Create", "Flavors") to add it to a treat</p>
  }
  else
  {
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId", "~Select an option~")
  }
  <input type="submit" value="Save" />
}

<p>Back to @Html.ActionLink("Treat List", "Index")</p>