@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<div class="header">Add a flavor-type</div>

<div class="subHeader">assign this flavor to a treat-type: @Html.DisplayFor(model => model.Name)</div>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @if(!(ViewBag.TreatId as SelectList).Any())
  {
    <p>There are no treats to add this flavor to, please add on to the @Html.ActionLink("treat list", "Create", "Treats")</p>
  }
  else
  {
  @Html.Label("Select treat")
  @Html.DropDownList("TreatId", "~Select an option~")
  }
  <input type="submit" value="Save" />
}

<p>Back to @Html.ActionLink("Flavor List", "Index")</p>