@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<div class="subHeader">Add a new flavor</div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
@* add branching statement that makes droplist disappear if there are no treats yet *@
  @Html.Label("select treat")
  @Html.DropDownList("TreatId")
  <input type="submit" value="add a new flavor" />
}
<p>Show @Html.ActionLink("all flavors", "Index")</p>