@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor;

<div class="header">Flavor Details</div>
<hr >
<div class="subHeader">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</div>

@if(Model.JoinEntities.Count == 0)
{
  <p>This flavor hasn't been assigned to any types of treats</p>
}
else
{
  <div class="subHeader">treats that this flavor has been assigned to: </div>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Treat.Name</li>
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>Back to @Html.ActionLink("Flavors List", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new {id = Model.FlavorId })</p>
<p>Add this flavor to a @Html.ActionLink("treat", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Home Page", "Index", "Home")</p>